body {
  margin: 12px;
  padding: 6px;
}

.container {
  color: gray;
  background-color: lightgray;
  width: 100vw;
  padding: 10px;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.note {
  background-color: yellow;
  width: 200px;
  height: 180px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
}

.note .note-text {
  flex-grow: 4;
}

.note .note-author {
  flex-grow: 1;
}
