.arrow {
  fill: orange;
  stroke: orange;
  width: 120px;
  height: 120px;
}

.downArrow {
  fill: blue;
  stroke: blue;
  width: 120px;
  height: 120px;
  rotate: 180deg;
}


.myButton:hover {
  cursor: grab;
}