.noteContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 700px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 15px;
  margin-bottom: 15px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 15px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
}

.noteItem:before {

  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #ffffff black;

}

.noteItem {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f5ff78;
  color: black;
  height: 200px;
  width: 200px;
  margin: 3px;



  .content {
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 16px
  }

  .author {
    margin-top: auto;
    font-style: italic;
    align-self: flex-end;
    margin-right: 16px;
  }

  .date {
    font-size: small;
    margin-right: 16px;
    align-self: flex-end;
  }
}
