.big-red-text {
    color: red;
    font-size: 32px;
}

#big-green-text {
    color: green;
    font-size: 32px;
}

body {
    border: solid green 4px;
    padding: 20px;
    margin: 40px;
    /* cascades to all children */
    color: chocolate;
}
